{% extends "UI/home.html" %}

{% block content %}
<style>
    #recg_div{
        text-align: center;
        list-style-position: center;
        font-size: 25px;
    }
    
    #recrd_btn{
        background-color: black; 
        padding: 1em; 
        border-radius: 6px; 
        color: #fff; 
        font-size: 25px;
        border:none;
        
    }
    
    #recrd_btn:hover{
        background-color: gray;
        cursor: alias;
    }
    </style>
    <div id="recg_div"> 
        <u><b>Speech Authentication</b></u>
        <br><br><br>
        <form action="{% url 'SpeechAnalysis' %}">
            <input type="submit" name="record" value="Click To Speak" id="recrd_btn"/><br><br>
             <p><b>You said: {{ conv }}</b><br>
            <b>Your Feedback is Analysed as: {{ emotion}}</b></p>
        </form>
    </div>
{% endblock %}
